<?xml version="1.0"?>
<configuration>
  <appSettings>

    <add key="Evidencija"/>
    <add key="server" value="mail.alphascore.hr"/>
    <add key="admin" value="dino@alphascore.hr"/>
    <add key="subject" value="Alphascore evidencija radnog vremena"/>
    <add key="subjectPodaci" value="AlphaWebCommodityBookkeeping - podaci o korisničkom računu"/>
    <add key="from" value="evidencija@alphascore.hr"/>
    <add key="auth" value="da"/>
    <add key="uname" value="dino@alphascore.hr"/>
    <add key="pass" value="score908"/>
  </appSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
