
<div id="footer">
    <div class="container">
        <div id="footer-magic"><img src="@Url.Content("~/Content/images/spacer.gif")"></div>
        <div class="footer-border">
            <div class="span-32 append-1">


                <div class="clearb"></div>
            </div>
        </div>
    </div>
</div>

