<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <MSDeployServiceURL>https://web-1.demo.local:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>Default web site/alphaRacuni</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MDSubjectsEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=db-2;Initial Catalog=AlphaWebCommodityBookkeeping;User ID=sa;Password=AldebaraN7;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MDSubjectsEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/MDSubjects.csdl|res://*/MDSubjects.ssdl|res://*/MDSubjects.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=db-2;initial catalog=AlphaWebCommodityBookkeeping;user id=sa;password=AldebaraN7;multipleactiveresultsets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MDEntitiesEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=db-2;Initial Catalog=AlphaWebCommodityBookkeeping;User ID=sa;Password=AldebaraN7;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MDEntitiesEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/MDEntities.csdl|res://*/MDEntities.ssdl|res://*/MDEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=db-2;initial catalog=AlphaWebCommodityBookkeeping;user id=sa;password=AldebaraN7;multipleactiveresultsets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MDGeneralEntities" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=db-2;Initial Catalog=AlphaWebCommodityBookkeeping;User ID=sa;Password=AldebaraN7;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MDGeneralEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/MDGeneral.csdl|res://*/MDGeneral.ssdl|res://*/MDGeneral.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=db-2;initial catalog=AlphaWebCommodityBookkeeping;User ID=sa;Password=AldebaraN7;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DocumentsEntities" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=db-2;Initial Catalog=AlphaWebCommodityBookkeeping;User ID=sa;Password=AldebaraN7;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DocumentsEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Documents.csdl|res://*/Documents.ssdl|res://*/Documents.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=db-2;initial catalog=AlphaWebCommodityBookkeeping;User ID=sa;Password=AldebaraN7;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MDPlacesEntities" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=db-2;Initial Catalog=AlphaWebCommodityBookkeeping;User ID=sa;Password=AldebaraN7;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MDPlacesEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/MDPlaces.csdl|res://*/MDPlaces.ssdl|res://*/MDPlaces.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=db-2;initial catalog=AlphaWebCommodityBookkeeping;user id=sa;password=AldebaraN7;multipleactiveresultsets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ProjectsEntities" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=db-2;Initial Catalog=AlphaWebCommodityBookkeeping;User ID=sa;Password=AldebaraN7;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ProjectsEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Projects.csdl|res://*/Projects.ssdl|res://*/Projects.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=db-2;initial catalog=AlphaWebCommodityBookkeeping;User ID=sa;Password=AldebaraN7;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <AzureAuthenticationAppPrincipalID />
    <AzureAuthenticationTenantID />
    <AzureAuthenticationReplyUrl />
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DocumentsEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MDEntitiesEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MDGeneralEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MDPlacesEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MDSubjectsEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ProjectsEntities-Web.config Connection String" />
  </ItemGroup>
</Project>