@model BusinessObjects.MDGeneral.cMDGeneral_Enums_Language_List

@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
//<![CDATA[
    var callbackInitDate;
    var command;

    function OnStartCallback(s, e) {

    }
    function OnEndCallback(s, e) {

    }
// ]]>
</script>



@Html.Hidden("linkName", "SifarniciParent")
@Html.Hidden("linkId", "")

  <h2 class="pt"> Jezici </h2>
  @if (Csla.ApplicationContext.User.IsInRole("SuperAdmin") || Csla.ApplicationContext.User.IsInRole("Admin"))
{
	<a class="butPrimary " href="@Url.Content("~/MDGeneral/EnumsLanguage/CreateAndEdit/0")">
<span> Novi jezik </span>
</a>
<div class="clearb"></div>
}

    @Html.Partial("EnumsLanguageGridPartial")

