@{
    ViewBag.Title = "ChangePasswordSuccess";
}

<h2>Uspješno ste promjenili lozinku</h2>

@using (Html.BeginForm())
{
    <div>
     @Html.ActionLink("Povratak na početnu stranicu", "Index", "Home", new { area = "" }, null)
    </div>
}
